// Enter any custom Sass in this file.

#divContra{
  position:absolute;
  top:0;
  width:100%;
  height:560vw;
  background-color:#0077c8;
  display:block;
  z-index:20000;
}
.errorUsuContra{
  color:#fbd305;
  white-space: nowrap;
}
.divWhite{
  border:1px solid #ffffff;
  width: 0.1vw;
  height: 40vw;
  background-color:#ffffff;
}
.divFlex{
  display:flex;
  padding: 2vw 1vw 1vw 1vw;
}
.padTop{
  padding-top: 0.2vw;
}
.padLeft{
  padding-left:0.5vw;
}
.padTop1{
  padding-top:1vw;
}
.divBtn{
  float: right;
  padding-right: 1rem;
  color:#ffffff;
  cursor:pointer;
  width: 8vw;
  height: 2.5vw;
  margin-top: 2vw;
  padding: 0.2vw 0 0 1.3vw;
}
.divBtn:hover{
  background-color: #0093D0;
  color:#ffffff;
  border-radius: 0.5rem;
}
.btnAcepta{
  border: 0;
  background-color: transparent;
  color: #ffffff;
}
.btnAcepta:hover{
  border: 0;
  background-color: transparent;
  color: #ffffff;
}
.btnAcepta:focus{
  color: #ffffff !important;
  outline: 0px solid transparent !important;
  background-color: transparent !important;
  outline-offset: 0 !important;
  box-shadow: 0 0 #ffdd00, 0 0 #0b0c0c !important;
  text-decoration: none !important;
}
.margAuto{
  margin:auto;
}
.margleft-5{
  margin-left:-5vw;
}
.colorWhite{
  color:#ffffff;
}
.width35{
  width:35vw;
}
.width70{
  width:70vw;
}
.width60{
  width:60vw;
}
.inputUsu{
   border: 1px solid #ffffff;
   border-radius: 0.4rem;
   width: -webkit-fill-available;
   height: 3vw;
}
.inputUsu[type="text"]:focus{
  background-color: white !important;
  box-shadow: 0 0 0 3px #0093D0 !important;
  outline: 1px solid #0093D0 !important;
}
.inputCon{
   border: 1px solid #ffffff;
   border-radius: 0.4rem;
   width: -webkit-fill-available;
   height: 3vw;
}
.inputCon:focus{
  background-color: white !important;
  box-shadow: 0 0 0 3px #0093D0 !important;
  outline: 1px solid #0093D0 !important;
}
.display-flex{
   display:flex;
}
.imgODS{
  width: 30vw;
}
.font-1{
  font-size:1.2vw;
}
.display{
  display:none;
  background-color: #ffffff;
  border: 1px solid #d9d3d3;
  border-top: 0;
  box-shadow: -6px 6px 10px -8px black;
}
.divUsuar{
  position: absolute;
  left: 75vw;
  top: 2vw;
}
.divUsuCS{
    font-weight: bold;
    display:flex;
}
.aUsu{
  cursor: pointer;
  color:#000000;
  text-decoration: none;
}
.aUsu:hover{
  color: #0077c8;
  text-decoration: underline;
  text-decoration-color:#0077c8;
}
.divaCS{
  background-color: #ffffff;
}
.divaCS:hover{
  background-color: #e9eef1;
}
.aCS{
  color: #000000 !important;
  text-decoration: none;
  font-size: 1vw;
  font-weight: normal;
}
.aCS:hover{
  text-decoration: none;
}
td {
    overflow-wrap: anywhere;
}
.btn-primary {
    background-color: #478BCA!important;
}
.btn-primary:hover {
    background-color: #04587e!important;
}
#selectionChartFooter {
  overflow-wrap: anywhere;
}
